@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Merienda&display=swap');

.Product{
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  row-gap: 5px;
  width: 70%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  .item{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 7px;
    .price{
      color: goldenrod;
      font-weight: lighter;
    }
    span{
      color: gray;
    }
    .star{
      width: 15px;
      height: 15px;
    }
    img{
      width: 150px;
      height: 150px;
      transition: 0.5s;
    }
    img:hover{
      scale: 1.1;
      transition: 0.5s;
    }
  }
  .description{
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    justify-content: space-evenly;
    span{
      color: silver;
      font-family: 'Anek Telugu', sans-serif;
    }
    .buy{
      width: 85px;
      height: 30px;
      border-radius: 3px;
      border: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .buy:hover{
      background-color:goldenrod;
    }
    .category{
      font-size: 14px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}